BuscarDocumentos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://OM_DesasociarDocumentos">
	<xsd:complexType name="BuscarDocumentos">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="idFilenet"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="idDocsys"
				type="xsd:string">
			</xsd:element>


			<xsd:element minOccurs="0" name="idOperacion"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="idHost"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>