DatosDocumentos.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="DatosDocumentos" targetNamespace="http://OM_DesasociarDocumentos/DatosDocumentos" xmlns:bons1="http://OM_DesasociarDocumentos" xmlns:tns="http://OM_DesasociarDocumentos/DatosDocumentos" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://OM_DesasociarDocumentos/DatosDocumentos">
      <xsd:import namespace="http://OM_DesasociarDocumentos" schemaLocation="out_BuscarDocumentos.xsd"/>
      <xsd:import namespace="http://OM_DesasociarDocumentos" schemaLocation="in_BuscarDocumentos.xsd"/>
      <xsd:element name="BuscarDatos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input_BuscarDatos" nillable="true" type="bons1:in_BuscarDocumentos"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BuscarDatosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output_BuscarDatos" nillable="true" type="bons1:out_BuscarDocumentos"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="BuscarDatosRequestMsg">
    <wsdl:part element="tns:BuscarDatos" name="BuscarDatosParameters"/>
  </wsdl:message>
    <wsdl:message name="BuscarDatosResponseMsg">
    <wsdl:part element="tns:BuscarDatosResponse" name="BuscarDatosResult"/>
  </wsdl:message>
    <wsdl:portType name="DatosDocumentos">
    <wsdl:operation name="BuscarDatos">
      <wsdl:input message="tns:BuscarDatosRequestMsg" name="BuscarDatosRequest"/>
      <wsdl:output message="tns:BuscarDatosResponseMsg" name="BuscarDatosResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>