out_DesaREST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://OM_DesasociarDocumentos">
	<xsd:complexType name="out_DesaREST" abstract="false"
		mixed="false">
		<xsd:sequence>

			<xsd:element minOccurs="0" name="codigo"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="descripcion"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>